p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
}

background {
    background: url(content/images/mine-entrance.jpg);

}

h1{
    font-size: 24px;
    font-style: bold;
}